
snippet @cpp "Template for cpp" bA
#include <bits/stdc++.h>
using namespace std;

int main() {
    $1
}
endsnippet

snippet @go "compile cpp" A
`!p
import os
os.system(f"g++ -std=c++11 -O2 -Wall {fn} -o {fn[:-4]}")
`
endsnippet